<div class="footer w-container">
    <div class="text-block-4">
        <a href="#">Mercado Bitcoin App</a> | 
          Desenvolvido por: <a href="http://lattes.cnpq.br/0110924099039887" target="_blanck">Anderson Costa</a>
    </div> 
</div>