<footer class="footer w-container">
    <div class="text-block-4">
        <a class="link" href="#">Mercado Bitcoin App</a> | 
          Desenvolvido por: <a class="link" href="http://lattes.cnpq.br/0110924099039887" target="_blanck">Anderson Costa</a>
    </div> 
  </footer>