<header class="navbar">
	<div class="ticker-wrapper">
    <div class="ticker-block">
      <span>ÚLTIMO PREÇO:</span><br/>
      <span id="ticker-last" class="ticker-yellow-text ticker-value"></span>
    </div>
    <div class="ticker-block">
      <span>MAIOR:</span><br/>
      <span id="ticker-high" class="ticker-value"></span>
    </div>
    <div class="ticker-block">
      <span >MENOR:</span><br/>
      <span id="ticker-low" class="ticker-value"></span>
    </div>
    <div class="ticker-block">
      <span>VOLUME24hs:</span><br/>
      <span id="ticker-vol" class="ticker-value"></span>
    </div>
  </div>
</header>