<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <section class="container w-container">
      <h2>Mercado Bitcoin App</h2>
    </section>
    <% include partials/footer %>
  </body>
</html>
