<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
      <h3>MOEDA DIGITAL</h3>
      <div class="button-wrapper">
        <span id="btc" class="btn btn-btc">Bitcoin</span>
        <span id="ltc" class="btn btn-ltc">Litecoin</span>
        <span id="bch" class="btn btn-bch">BCash</span> 
      </div>
      <section class="negotiations">
        <h3 id="negotiations-title" class="title"></h3>
        <div class="row">
          <section class="orderbook-wrapper">
            <article class="bids-wrapper">
              <em>Ordens de Compra</em>
              <table id="bids-table" class="order-table">
                <thead class="head bids-head">
                  <tr><th class="quantity">Quantidade</th>
                  <th class="price">Preço (R$)</th></tr>
                </thead>
              </table>
            </article>
            <article class="asks-wrapper">
              <em>Ordens de Venda</em>
              <table id="asks-table" class="order-table">
                <thead class="head asks-head">
                  <tr><th class="quantity">Quantidade</th>
                  <th class="price">Preço (R$)</th></tr>
                </thead>
               </table>
            </article>
          </section>
          <section class="trades-wrapper">
            <em>Ordens Executadas</em>
            <table id="trades-table" class="order-table">
              <thead class="head trades-head">
                <tr><th class="date">Data</th>
                <th class="type">Tipo</th>
                <th class="quantity">Quantidade</th>
                <th class="price">Preço (R$)</th></tr>
              </thead>
            </table>          
          </section>
        </div>
      </section>
    </div>
    <% include partials/footer %>
  </body>
</html>
