.navbar {
  height: 100px;
  border-bottom: 5px solid #F49518;
  background-color: #465B6C;
  background-image: url("../img/mb-logo-dark.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  
}

.ticker-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.ticker-block {
  color: #FFF;
  font: 8.5px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 110px;
  padding: 5px 0px 5px 5px;
  margin-right: 2px;
  /* background-color: red; */
}

.ticker-value {
  font-size: 15px;
}

.ticker-yellow-text {
  font-weight: bold;
  color: #FBD159;
}

.container,
.footer {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  margin-top: 2px;
  padding: 25px;
  color: #465B6C;
  background-color: #EBECEE;
}

.link {
  color: #23A86A;
  text-decoration: none;
}

.link:hover {
  color: #F49518;
}

.text-block-4 {
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.btn {
  padding: 10px;
  color: #FFF;
  background-color: #465B6C;
  text-decoration: none;
}

.btn:hover {
  background-color: #3A4C5A;
}

.btn-btc:active {
  background-color: #F7AA61;
}

.btn-ltc:active {
  background-color: #AFAAD6;
}

.btn-bch:active {
  background-color: #85BB65;
}

.negotiations {
  background-color: #FFF;
  margin-top: 25px;
  padding-left: 10px;
  height: 600px;
}

.title {
  padding-top: 15px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.orderbook-wrapper {
  display: flex;
}

.bids-wrapper,
.asks-wrapper,
.trades-wrapper {
  /* background-color: #F49518; */
  margin-right: 10px; 
  padding: 10px;
}

.order-table {
  border-collapse: collapse;
}

.bids-row:hover,
.asks-row:hover,
.trades-row:hover {
  background-color: #EBECEE;
}

.price,
.quantity,
.type {
  /* background-color: #23A86A; */
  text-align: left;
  width: 100px;
  padding: 3px 5px;
}

.date {
  text-align: center;
  width: 150px;
  padding: 2px 5px;
}

.trades-sell {
  color: #963A56;
}

.trades-buy {
  color: #62A86D;
}

.footer {
  padding: 50px;
  color: #fff;
  background-color: #465B6C;
}
